<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cook Book</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %> 
    <h1>A Bikini Bottom Cookbook</h1>
    <p>The recipe tracker</p>
  </body>
</html>
